<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>

body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
